body {
	margin: 0px;
	padding: 0px;
}

.wallContainer {
	width: 950px;
	height: 600px;
	margin: 0px auto;
	/* background-color: #0F0; */
}

.gridContainer {
	position: absolute;
	width: 100%;
	height: 1px;
	margin-top: 50%;
}

.grid {
	width: 100%;
	height: 600px;
	/* background-color: #F00; */
	margin: -300px auto 0px auto;
}

.imageContainer {
	width: 316px;
	height: 198px;
	/* background-color: #FF0; */
}

.image {
	width: 300px;
	height: 188px;
	padding: 5px 8px;
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.imageClicked {
	width: 950px;
	height: 600px;
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.imageFirstColumnClicked { margin-left: -1px; }
.imageSecondColumnClicked { margin-left: -319px; }
.imageThirdColumnClicked { margin-left: -637px; }
.imageFirstRowClicked { margin-top: -1px; }
.imageSecondRowClicked { margin-top: -201px; }
.imageThirdRowClicked { margin-top: -401px; }
.image:hover { cursor: pointer; }
.imageClicked:hover { cursor: pointer; }

.contentAfterClick {
	width: 950px;
	height: 600px;
	z-index: 1;
	background-color: #F00;
}

.contentAfterClickImage {
	position: absolute;
	width: 100%;
	height: 100%;
}

.initialMinus {
	position: absolute;
	top: 40%;
	right: -70px;
	width: 50px;
	height: 50px;
	background: url(image/minus.png) no-repeat center;
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.minus {
	position: absolute;
	top: 40%;
	right: 20px;
	width: 50px;
	height: 50px;
	background: url(image/minus.png) no-repeat center;
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.minus:hover {
	background: url(image/minusHover.png) no-repeat center;
	cursor: pointer;
}

.initialMenu {
	position: absolute;
	right: -70px;
	bottom: 40%;
	width: 50px;
	height: 50px;
	background: url(image/menu.png) no-repeat center;
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.menu {
	position: absolute;
	right: 20px;
	bottom: 40%;
	width: 50px;
	height: 50px;
	background: url(image/menu.png) no-repeat center;
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.menu:hover {
	background: url(image/menuHover.png) no-repeat center;
	cursor: pointer;
}

.initialMovePanel {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	right: -110px;
	margin-top: -45px;
	/* background-color: #0FF; */
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.movePanel {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	right: 10px;
	margin-top: -45px;
	/* background-color: #0FF; */
	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
}

.topLeftBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	left: 0px;
	background: url(image/upLeft.png) no-repeat center;
	cursor: pointer;
}

.topCenterBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	left: 35px;
	background: url(image/up.png) no-repeat center;
	cursor: pointer;
}

.topRightBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	right: 0px;
	background: url(image/upRight.png) no-repeat center;
	cursor: pointer;
}

.centerLeftBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 35px;
	left: 0px;
	background: url(image/left.png) no-repeat center;
	cursor: pointer;
}

.centerRightBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 35px;
	right: 0px;
	background: url(image/right.png) no-repeat center;
	cursor: pointer;
}

.bottomLeftBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 0px;
	left: 0px;
	background: url(image/downLeft.png) no-repeat center;
	cursor: pointer;
}

.bottomCenterBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 0px;
	left: 35px;
	background: url(image/down.png) no-repeat center;
	cursor: pointer;
}

.bottomRightBlock {
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 0px;
	right: 0px;
	background: url(image/downRight.png) no-repeat center;
	cursor: pointer;
}

.topLeftBlockClicked, .topLeftBlock:hover { background: url(image/upLeftClicked.png) no-repeat center; }
.topCenterBlockClicked, .topCenterBlock:hover { background: url(image/upClicked.png) no-repeat center; }
.topRightBlockClicked, .topRightBlock:hover { background: url(image/upRightClicked.png) no-repeat center; }
.centerLeftBlockClicked, .centerLeftBlock:hover { background: url(image/leftClicked.png) no-repeat center; }
.centerRightBlockClicked, .centerRightBlock:hover { background: url(image/rightClicked.png) no-repeat center; }
.bottomLeftBlockClicked, .bottomLeftBlock:hover { background: url(image/downLeftClicked.png) no-repeat center; }
.bottomCenterBlockClicked, .bottomCenterBlock:hover { background: url(image/downClicked.png) no-repeat center; }
.bottomRightBlockClicked, .bottomRightBlock:hover { background: url(image/downRightClicked.png) no-repeat center; }